* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button, textarea, select {
    font: inherit;
}

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 7fr;
    height: 100vh;
}

#header {
    display: flex;
    background-color: #FEDDD8;
    align-items: center;
    padding: 24px;
    grid-column: 1 / 3;
}

#sidebar {
    padding: 24px;

    #title {
        display: flex;
        justify-content: space-between;
    }

    #add-project-btn {
        font-weight: bolder;
        border: none;
        background-color: white;
    }

    .category-btn {
        border: none;
        border-radius: 6px;
        text-align: left;
        background-color: white;
        padding: 6px 12px;
    }

    #add-project-btn:hover,
    .category-btn:hover {
        background-color: #FEDDD8;
    }

    .active {
        background-color: #FEDDD8;
    }

    #sidebar-content {
        margin-top: 12px;
        display: grid;
        gap: 6px;
    }
}

#content {
    border: 2px solid green;
}